
.profile{
  display: flex;
  text-align: right;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  margin-top: 0%;
}
.btn{
  margin-top: 5%;
  display: flex;
text-align: center;
}
.nom{
color: brown;
display: flex;
justify-content: flex-start;
padding-left: 10%;
}
.name{
  margin-top: -20%;
  justify-content: space-between;
}
.style{
  width: 200px;
}
.box1{
  text-align: center;
}
.box2{
  margin-top: 20px;
}
.insta{
  width: 50px;
}
.facebook{
width: 50px;
}
.linkedIn{
  width: 50px;
}
.social-icons{
  display: flex;
  justify-content:flex-end;
  text-align: justify;
  align-content: center;
  align-items: center;
}
.body{
  background-color:#ffffff;
}

.title{
  color: rgba(225, 147, 3, 0.923);
  margin-top: 5%;
}

.phone{
  width: 20px;
}
.email{
  width: 30px;
}
.contact{
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: flex-end;
  margin-top: -10%;
  margin-right: 2%;
}